<ng-container *ngIf="!logged">
  <app-login (isLogged)="onToggle($event)"></app-login>
</ng-container>
<ng-container *ngIf="logged">

  <div class="row">
    <div class="col-3">
      <app-event-filter></app-event-filter>
    </div>
  </div>

  <div class="event-grid" *ngIf="category.name">
    <div *ngFor="let event of filteredEvents" class="event-card">
      <a routerLink="events/{{event.id}}">
        <img src="assets/posters/{{event.poster}}" alt="{{event.name}}" class="event-card__poster">
        <h3 class="event-card__title">{{event.name}}</h3>
<!--        <p class="event-card__date">{{event.premiereDate | date:'longDate'}}</p>-->
      </a>
    </div>
  </div>

<div class="event-grid" *ngIf="!category.name">
  <div *ngFor="let event of filteredEvents" class="event-card">
    <a routerLink="{{event.category.name.toLowerCase()}}/events/{{event.id}}">
      <img src="assets/posters/{{event.poster}}" alt="{{event.name}}" class="event-card__poster">
      <h3 class="event-card__title">{{event.name}}</h3>
<!--      <p class="event-card__date">{{event.premiere_date| date:'longDate'}}</p>-->
    </a>
  </div>
</div>
<div class="no-events" *ngIf="filteredEvents.length === 0">
  <h1>No events</h1>
</div>
<!--  <button class="logOut-btn" (click)="logOut()" routerLink="/login">-->
<!--    log out-->
<!--  </button>-->
</ng-container>

