.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.event-card {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  border-radius: 10px;
  width: 200px;
  margin: 40px;
}

.event-card__poster {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.event-card__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0 0 10px;
}

.event-card__location,
.event-card__date {
  font-size: 1rem;
  margin: 0;
  color: #666;
}
