<div class="login-page">
    <div class="form">
        <div class="login">
        <h1>Sign Up</h1>
    </div>
      <form class="login-form">
        <input type="username" placeholder="Username" [(ngModel)]="newUser.email" name="username"/>
        <input type="email" placeholder="Email" [(ngModel)]="newUser.email"/>
        <input type="password" placeholder="Password" [(ngModel)]="newUser.password"/>
        <input type="password" placeholder="Retype Password" [(ngModel)]="passwordCheck"/>
        <button (click)="signUp()">create</button>
      </form>
    </div>'
  </div>
