.search {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px;
  border: 2px solid;
  width: 300px;
  margin: 20px;
}

.input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
}

.input::placeholder {
  color: #999999;
}

