<div *ngIf="filteredEvents.length > 0" class="event-grid">
  <div *ngFor="let event of filteredEvents" class="event-card">
    <img src="assets/{{event.poster}}" alt="{{event.name}}" class="event-card__poster">
    <a [routerLink]="['/events' , event.id]">
      <h3 class="event-card__title">{{event.name}}</h3>
      <p class="event-card__location">{{event.location}}</p>
      <p class="event-card__date">{{event.premiereDate | date:'longDate'}}</p>
    </a>
  </div>
</div>
<div *ngIf="filteredEvents.length===0">
  <h1>No events</h1>
</div>

