.event-detail , .event-poster{
  margin-left: 100px;
  position: relative;
  z-index: 1;
}

.about-event {
  display: flex;
}

.event-detail{
  margin-top: 200px;
  padding-right: 100px;
}

.ticket-container{
  position: absolute;
  top: 90%;
  left: 50%;
  bottom: 10%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 500px;
  height: 500px;
  background: red;
}
.btn-close{
  margin: 1% 1% 0 93%;
}
