<div class="container" *ngIf="account">
  <h1>Account Information</h1>
  <form #form="ngForm">
    <div class="form-group">
      <label for="first-name">First Name:</label>
      <input type="text" id="first-name" name="first_name" [(ngModel)]="account.first_name" required>
    </div>
    <div class="form-group">
      <label for="last-name">Last Name:</label>
      <input type="text" id="last-name" name="last_name" [(ngModel)]="account.last_name" required>
    </div>
    <div class="form-group">
      <label for="dob">Date of Birth:</label>
      <input type="date" id="dob" name="date_of_birth" [(ngModel)]="account.date_of_birth" required>
    </div>
    <div class="form-group">
      <label for="phone">Phone Number:</label>
      <input type="text" id="phone" name="phone_number" [(ngModel)]="account.phone_number" required>
    </div>
    <button type="submit" [disabled]="form.invalid">Save Changes</button>
  </form>
</div>
