<div class="categories">
  <a class="category category-title" (click)="changeCategory('All events')"
     [class.category-selected]="selectedCategory === 'All events'" routerLink="/{{DOMAIN}}/">All events</a>
  <a class="category" *ngFor="let category of categories"
     (click)="changeCategory(category.name)"
     [class.category-selected]="selectedCategory === category.name.toLowerCase()" routerLink="/{{DOMAIN}}/{{category.name.toLowerCase()}}">
    <p class="category-title">{{category.name}}</p>
  </a>
  <div class="account-btn">
    <button  routerLink="/profile">My Account</button>
    <button (click)="logOut()" routerLink="/login" >Log Out</button>
  </div>
</div>
