<div class = "main-body" *ngIf="event">
  <div class="event-detail-container">

    <div class="event-poster">
      <img src="assets/{{event.poster}}" alt="event poster" width="500" height="500">
    </div>

    <div class="event-detail">
      <h1>{{event.name}}</h1>
      <div class="short-info">
        <div class="rate"><span>Description: <strong>{{event.description}}</strong></span>
        </div>
        <div class="duration"><span>Duration: <strong>{{event.duration}}</strong></span></div>
      </div>
    </div>
  </div>
</div>
