<div class = "main-body" *ngIf="event">
  <div class="event-detail-container">

    <div class="event-poster">
      <img src="../../../assets/{{event.poster}}" alt="event image" width="500" height="500">
    </div>

    <div class="event-detail">
      <h1>{{event.name}}</h1>
      <div class="short-info">
        <div class="rate"><span>Rate: <strong>{{event.rate}}</strong></span>
        </div>
        <div class="duration"><span>Genre: <strong>{{event.genre}}</strong></span></div>
      </div>
    </div>
  </div>
</div>
